@charset "UTF-8";

/*头部样式*/

header {
    position: relative;
}

header>h1 {
    width: 100%;
    height: 1.0933rem;
    text-align: center;
    line-height: 1.0933rem;
    background: #5fc0cd;
    font-size: 0.48rem;
    color: #fff;
}

.header-icon {
    display: block;
    position: absolute;
    top: 0.2667rem;
    left: 0.2667rem;
    width: 0.4rem;
    height: 100%;
    background: url("images/task5-1_07.png") no-repeat 0px 0px;
    background-size: 100%;
}


/*介绍部分*/

.user-introduce {
    padding: 1.0667rem 0 1.0667rem 0.3467rem;
    height: 4.3733rem;
    width: 100%;
    background: url("images/task5-1_02.png") no-repeat;
    background-size: 100%;
}

.user-introduce .user-pic {
    display: inline-block;
    width: 2.2667rem;
    height: 2.2667rem;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.user-introduce .user-pic>img {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.user-introduce .user-info {
    display: inline-block;
    position: relative;
    top: -0.8rem;
    left: 0.6667rem;
    color: #fff;
}

.user-introduce .user-info .user-name {
    margin: 0 0 0.1333rem 0;
    font-size: 0.48rem;
}

.user-introduce .user-name>span {
    margin-left: 0.2667rem;
    font-size: 0.3733rem;
}

.user-introduce .user-addres {
    padding-left: 0.4rem;
    font-size: 0.32rem;
    background: url("images/task5-1_06.png") no-repeat;
    background-size: auto 100%;
}


/*技能信息*/

.user-form .user-form-title {
    padding: 0.48rem 0;
    width: 100%;
    border-bottom: 1px solid #e1e5e7;
    font-size: 0.4267rem;
}

.user-form .user-form-title>span {
    margin-left: 0.3467rem;
    padding-left: 0.3467rem;
    border-left: 0.0267rem solid #5fc0cd;
}

.user-form .user-form-list li {
    padding: 0.4rem;
    margin-left: 0.4rem;
    font-size: 0.4267rem;
    border-bottom: 1px solid #e1e5e7;
}

.user-form .user-form-list li div {
    display: inline-block;
}

.user-form .form-list-1 span:nth-child(1) {
    padding: 0 0.5333rem;
    background: url("images/task5-1_11.png") no-repeat 0px 0.0667rem;
    background-size: 1em auto;
    border-right: 1px solid #e1e5e7;
}

.user-form .form-list-1 span:nth-child(2) {
    padding-left: 0.5333rem;
    margin-left: 0.5333rem;
    background: url("images/task5-1_11.png") no-repeat 0px 0.0667rem;
    background-size: 1em auto;
}

.user-form .user-form-list li>div div:nth-child(1) {
    padding-right: 0.2667rem;
    margin-right: 0.2667rem;
    border-right: 1px solid #e1e5e7;
}

.user-form .user-form-list .list-price-warp {
    color: #e9888a;
}

.user-form .form-list-5 {
    position: relative;
    margin-bottom: 2.6667rem;
}


/*垂直居中 向下为正方向*/


/*先进行绝对定位后再向下移动自生的一半，然后利用变换再向上移动自身的一半*/

.user-form .user-form-list .list-5-introduce {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.user-form .user-form-list .list-introduce-warp {
    margin-left: 2.2667rem;
}


/*底部样式*/

footer {
    position: fixed;
    bottom: 0.1333rem;
    padding: 0 0.1333rem;
    width: 100%;
}


footer input:first-child {
    margin-right: 1%;
    width: 48%;
    height: 1.2rem;
    background: #fff;
    color: #5fc0cd;
    font-size: 0.4533rem;
    border: 1px solid #5fc0cd;
    border-radius: 0.1333rem;
    -webkit-border-radius: 0.1333rem;
    -moz-border-radius: 0.1333rem;
    -ms-border-radius: 0.1333rem;
    -o-border-radius: 0.1333rem;
}
footer input:last-child {
    width: 49%;
    height: 1.2rem;
    background: #5fc0cd;
    color: #fff;
    font-size: 0.4533rem;
    border-radius: 0.1333rem;
    -webkit-border-radius: 0.1333rem;
    -moz-border-radius: 0.1333rem;
    -ms-border-radius: 0.1333rem;
    -o-border-radius: 0.1333rem;
}